<nav class="navbar navbar-expand-lg navbar-dark"> 
    <a class=" navbar-brand   logo" href="/"><img src="logo.svg">Netflix</a> 
        <ul class="navbar-nav ul-mio"> 
             
            <li class="nav-item"> 
                 <a class="nav-link text-outline-white" href="/upload-music"><i class="icon-spotify m-2"></i>Music</a> 
            </li>
            <li class="nav-item"> 
                <a class="nav-link text-outline-white" href="/upload-peli"><i class="icon-dashboard m-2"></i>Peliculas</a> 
            </li> 
        </ul>
</nav>
